@font-face {
    font-family: 'gluten';
    src: url(./../assets/Fonts/Gluten-Light.ttf);
}

.container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: #f6f6f6;
}

.appName {
    font-family: gluten ,Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: #0f9d58;
}

.logoutBtn {
    background-color: #0db865;
    color: #fff;
    padding: 7px 13px;
    border-radius: 5px;
    font-size: 1.03rem;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logoutBtn:hover {
    background-color: #0b9f58;
}